body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2157px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1035px;
  height:473px;
}
#u4174 {
  position:absolute;
  left:10px;
  top:7px;
  width:1035px;
  height:473px;
}
#u4175 {
  position:absolute;
  left:2px;
  top:228px;
  width:1031px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:771px;
  height:642px;
}
#u4176 {
  position:absolute;
  left:10px;
  top:490px;
  width:771px;
  height:642px;
}
#u4177 {
  position:absolute;
  left:2px;
  top:313px;
  width:767px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:439px;
}
#u4178 {
  position:absolute;
  left:791px;
  top:501px;
  width:430px;
  height:439px;
}
#u4179 {
  position:absolute;
  left:2px;
  top:212px;
  width:426px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:936px;
  height:668px;
}
#u4180 {
  position:absolute;
  left:1221px;
  top:477px;
  width:936px;
  height:668px;
}
#u4181 {
  position:absolute;
  left:2px;
  top:326px;
  width:932px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:322px;
}
#u4182 {
  position:absolute;
  left:877px;
  top:1040px;
  width:353px;
  height:322px;
}
#u4183 {
  position:absolute;
  left:2px;
  top:153px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:340px;
}
#u4184 {
  position:absolute;
  left:1230px;
  top:1040px;
  width:357px;
  height:340px;
}
#u4185 {
  position:absolute;
  left:2px;
  top:162px;
  width:353px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:801px;
  height:348px;
}
#u4186 {
  position:absolute;
  left:29px;
  top:1422px;
  width:801px;
  height:348px;
}
#u4187 {
  position:absolute;
  left:2px;
  top:166px;
  width:797px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:411px;
}
#u4188 {
  position:absolute;
  left:45px;
  top:1770px;
  width:745px;
  height:411px;
}
#u4189 {
  position:absolute;
  left:2px;
  top:198px;
  width:741px;
  visibility:hidden;
  word-wrap:break-word;
}
