body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1069px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:43px;
}
#u3280 {
  position:absolute;
  left:0px;
  top:-1px;
  width:1277px;
  height:43px;
}
#u3281 {
  position:absolute;
  left:2px;
  top:14px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1011px;
  height:26px;
}
#u3282 {
  position:absolute;
  left:92px;
  top:8px;
  width:1011px;
  height:26px;
}
#u3283 {
  position:absolute;
  left:2px;
  top:5px;
  width:1007px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1485px;
  height:913px;
}
#u3284 {
  position:absolute;
  left:-208px;
  top:42px;
  width:1485px;
  height:913px;
}
#u3285 {
  position:absolute;
  left:2px;
  top:448px;
  width:1481px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:20px;
}
#u3286 {
  position:absolute;
  left:997px;
  top:296px;
  width:89px;
  height:20px;
}
#u3287 {
  position:absolute;
  left:2px;
  top:2px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:50px;
}
#u3288 {
  position:absolute;
  left:607px;
  top:378px;
  width:326px;
  height:50px;
}
#u3289 {
  position:absolute;
  left:2px;
  top:17px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:45px;
}
#u3290 {
  position:absolute;
  left:151px;
  top:381px;
  width:199px;
  height:45px;
}
#u3291 {
  position:absolute;
  left:2px;
  top:14px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:12px;
}
#u3292 {
  position:absolute;
  left:474px;
  top:418px;
  width:123px;
  height:12px;
}
#u3293 {
  position:absolute;
  left:2px;
  top:-2px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:32px;
}
#u3294 {
  position:absolute;
  left:482px;
  top:386px;
  width:109px;
  height:32px;
}
#u3295 {
  position:absolute;
  left:2px;
  top:8px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FF0000;
}
#u3296 {
  position:absolute;
  left:490px;
  top:388px;
  width:81px;
  height:19px;
  font-size:16px;
  color:#FF0000;
}
#u3297 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:536px;
  height:287px;
}
#u3298 {
  position:absolute;
  left:138px;
  top:445px;
  width:536px;
  height:287px;
}
#u3299 {
  position:absolute;
  left:2px;
  top:136px;
  width:532px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:80px;
}
#u3300 {
  position:absolute;
  left:491px;
  top:513px;
  width:80px;
  height:80px;
}
#u3301 {
  position:absolute;
  left:2px;
  top:32px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u3302 {
  position:absolute;
  left:472px;
  top:615px;
  width:127px;
  height:22px;
  font-size:18px;
}
#u3303 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u3304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3304 {
  position:absolute;
  left:460px;
  top:657px;
  width:175px;
  height:16px;
}
#u3305 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  white-space:nowrap;
}
#u3306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 204, 153, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3306 {
  position:absolute;
  left:374px;
  top:705px;
  width:273px;
  height:35px;
  color:#FFFFFF;
}
#u3307 {
  position:absolute;
  left:2px;
  top:10px;
  width:269px;
  word-wrap:break-word;
}
