body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:442px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u1538 {
  position:absolute;
  left:20px;
  top:18px;
  width:422px;
  height:829px;
}
#u1539 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u1540 {
  position:absolute;
  left:41px;
  top:86px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u1541 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1542 {
  position:absolute;
  left:41px;
  top:86px;
  width:375px;
  height:20px;
}
#u1543 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1544 {
  position:absolute;
  left:188px;
  top:119px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1545 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u1546 {
  position:absolute;
  left:58px;
  top:117px;
  width:12px;
  height:21px;
}
#u1547 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1548 {
  position:absolute;
  left:367px;
  top:119px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1549 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1550 {
  position:absolute;
  left:67px;
  top:281px;
  width:233px;
  height:45px;
}
#u1551 {
  position:absolute;
  left:2px;
  top:14px;
  width:229px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1552 {
  position:absolute;
  left:79px;
  top:360px;
  width:300px;
  height:40px;
}
#u1553 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u1554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0066FF;
}
#u1554 {
  position:absolute;
  left:181px;
  top:417px;
  width:97px;
  height:19px;
  font-size:16px;
  color:#0066FF;
}
#u1555 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Forte';
  font-weight:400;
  font-style:normal;
}
#u1556 {
  position:absolute;
  left:79px;
  top:293px;
  width:33px;
  height:21px;
  font-family:'Forte';
  font-weight:400;
  font-style:normal;
}
#u1557 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u1558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#CCCCCC;
}
#u1558 {
  position:absolute;
  left:122px;
  top:296px;
  width:93px;
  height:16px;
  font-size:14px;
  color:#CCCCCC;
}
#u1559 {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  word-wrap:break-word;
}
#u1560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:center;
}
#u1560 {
  position:absolute;
  left:91px;
  top:708px;
  width:300px;
  height:32px;
  color:#CCCCCC;
  text-align:center;
}
#u1561 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1562 {
  position:absolute;
  left:297px;
  top:281px;
  width:94px;
  height:45px;
}
#u1562_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1562.mouseDown {
}
#u1563 {
  position:absolute;
  left:2px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
#u1562_ann {
  position:absolute;
  left:384px;
  top:277px;
  width:1px;
  height:1px;
}
#u1564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1564 {
  position:absolute;
  left:67px;
  top:215px;
  width:324px;
  height:45px;
}
#u1565 {
  position:absolute;
  left:2px;
  top:14px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1564_ann {
  position:absolute;
  left:384px;
  top:211px;
  width:1px;
  height:1px;
}
#u1566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1566 {
  position:absolute;
  left:78px;
  top:225px;
  width:15px;
  height:25px;
}
#u1567 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1568 {
  position:absolute;
  left:98px;
  top:227px;
  width:36px;
  height:22px;
  font-size:18px;
  color:#CCCCCC;
}
#u1569 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u1570 {
  position:absolute;
  left:133px;
  top:216px;
  width:257px;
  height:43px;
}
#u1570_input {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:43px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1571_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:665px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.517647058823529);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1571 {
  position:absolute;
  left:41px;
  top:86px;
  width:375px;
  height:665px;
}
#u1572 {
  position:absolute;
  left:2px;
  top:324px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1573_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:52px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:12px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1573 {
  position:absolute;
  left:122px;
  top:360px;
  width:178px;
  height:52px;
}
#u1574 {
  position:absolute;
  left:2px;
  top:18px;
  width:174px;
  word-wrap:break-word;
}
