body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2868px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u847 {
  position:absolute;
  left:33px;
  top:11px;
  width:422px;
  height:829px;
}
#u848 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u849 {
  position:absolute;
  left:354px;
  top:93px;
  width:1px;
  height:16px;
}
#u850 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u851_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u851 {
  position:absolute;
  left:54px;
  top:79px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u852 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u853 {
  position:absolute;
  left:54px;
  top:79px;
  width:375px;
  height:20px;
}
#u854 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u855 {
  position:absolute;
  left:54px;
  top:142px;
  width:375px;
  height:1px;
}
#u856 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u857 {
  position:absolute;
  left:201px;
  top:112px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u859 {
  position:absolute;
  left:71px;
  top:110px;
  width:12px;
  height:21px;
}
#u860 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u861 {
  position:absolute;
  left:93px;
  top:187px;
  width:362px;
  height:66px;
  font-size:28px;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  word-wrap:break-word;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u863 {
  position:absolute;
  left:94px;
  top:314px;
  width:269px;
  height:88px;
}
#u864 {
  position:absolute;
  left:2px;
  top:36px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:49px;
}
#u865 {
  position:absolute;
  left:128px;
  top:335px;
  width:50px;
  height:48px;
}
#u866 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u867 {
  position:absolute;
  left:188px;
  top:347px;
  width:175px;
  height:22px;
  font-size:18px;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#BCBCBC;
}
#u869 {
  position:absolute;
  left:94px;
  top:263px;
  width:229px;
  height:15px;
  font-size:12px;
  color:#BCBCBC;
}
#u870 {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  white-space:nowrap;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u871 {
  position:absolute;
  left:123px;
  top:618px;
  width:213px;
  height:37px;
  font-size:14px;
  color:#FFFFFF;
}
#u872 {
  position:absolute;
  left:2px;
  top:10px;
  width:209px;
  word-wrap:break-word;
}
#u873 {
  position:absolute;
  left:403px;
  top:347px;
  width:0px;
  height:0px;
}
#u873_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:146px;
  height:8px;
}
#u873_seg1 {
  position:absolute;
  left:-7px;
  top:-11px;
  width:22px;
  height:22px;
}
#u873_seg2 {
  position:absolute;
  left:124px;
  top:-11px;
  width:23px;
  height:22px;
}
#u874 {
  position:absolute;
  left:21px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u875 {
  position:absolute;
  left:112px;
  top:665px;
  width:260px;
  height:16px;
  color:#999999;
}
#u876 {
  position:absolute;
  left:0px;
  top:0px;
  width:260px;
  white-space:nowrap;
}
#u877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u877 {
  position:absolute;
  left:553px;
  top:224px;
  width:373px;
  height:19px;
  font-size:16px;
}
#u878 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u879 {
  position:absolute;
  left:388px;
  top:236px;
  width:0px;
  height:0px;
}
#u879_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:146px;
  height:8px;
}
#u879_seg1 {
  position:absolute;
  left:-7px;
  top:-11px;
  width:22px;
  height:22px;
}
#u879_seg2 {
  position:absolute;
  left:124px;
  top:-11px;
  width:23px;
  height:22px;
}
#u880 {
  position:absolute;
  left:21px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u881 {
  position:absolute;
  left:309px;
  top:344px;
  width:46px;
  height:25px;
}
#u882 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u883 {
  position:absolute;
  left:207px;
  top:542px;
  width:33px;
  height:37px;
}
#u884 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u885 {
  position:absolute;
  left:94px;
  top:417px;
  width:269px;
  height:88px;
}
#u886 {
  position:absolute;
  left:2px;
  top:36px;
  width:265px;
  visibility:hidden;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:49px;
}
#u887 {
  position:absolute;
  left:128px;
  top:438px;
  width:50px;
  height:48px;
}
#u888 {
  position:absolute;
  left:2px;
  top:16px;
  width:46px;
  word-wrap:break-word;
}
#u889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u889 {
  position:absolute;
  left:188px;
  top:450px;
  width:175px;
  height:22px;
  font-size:18px;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u891 {
  position:absolute;
  left:309px;
  top:447px;
  width:46px;
  height:25px;
}
#u892 {
  position:absolute;
  left:2px;
  top:4px;
  width:42px;
  word-wrap:break-word;
}
#u893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u893 {
  position:absolute;
  left:528px;
  top:627px;
  width:373px;
  height:19px;
  font-size:16px;
}
#u894 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u895 {
  position:absolute;
  left:363px;
  top:639px;
  width:0px;
  height:0px;
}
#u895_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:146px;
  height:8px;
}
#u895_seg1 {
  position:absolute;
  left:-7px;
  top:-11px;
  width:22px;
  height:22px;
}
#u895_seg2 {
  position:absolute;
  left:124px;
  top:-11px;
  width:23px;
  height:22px;
}
#u896 {
  position:absolute;
  left:21px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u897 {
  position:absolute;
  left:1989px;
  top:453px;
  width:49px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u898 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u899 {
  position:absolute;
  left:1972px;
  top:11px;
  width:422px;
  height:829px;
}
#u900 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u901 {
  position:absolute;
  left:1993px;
  top:79px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u902 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u903 {
  position:absolute;
  left:1993px;
  top:79px;
  width:375px;
  height:20px;
}
#u904 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u905 {
  position:absolute;
  left:1993px;
  top:142px;
  width:375px;
  height:1px;
}
#u906 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u907 {
  position:absolute;
  left:2140px;
  top:112px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u908 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u909 {
  position:absolute;
  left:2010px;
  top:110px;
  width:12px;
  height:21px;
}
#u910 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u911 {
  position:absolute;
  left:2049px;
  top:596px;
  width:300px;
  height:40px;
  font-size:16px;
  color:#FFFFFF;
}
#u912 {
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  word-wrap:break-word;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:121px;
}
#u913 {
  position:absolute;
  left:2121px;
  top:200px;
  width:120px;
  height:120px;
}
#u914 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  word-wrap:break-word;
}
#u915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u915 {
  position:absolute;
  left:2151px;
  top:330px;
  width:175px;
  height:22px;
  font-size:18px;
}
#u916 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u918 {
  position:absolute;
  left:2039px;
  top:410px;
  width:300px;
  height:1px;
}
#u919 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u920 {
  position:absolute;
  left:2039px;
  top:385px;
  width:175px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u922 {
  position:absolute;
  left:2320px;
  top:388px;
  width:8px;
  height:15px;
}
#u923 {
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u925 {
  position:absolute;
  left:2039px;
  top:456px;
  width:300px;
  height:1px;
}
#u926 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u927 {
  position:absolute;
  left:2039px;
  top:431px;
  width:175px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u928 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u929 {
  position:absolute;
  left:2320px;
  top:434px;
  width:8px;
  height:15px;
}
#u930 {
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:2px;
}
#u932 {
  position:absolute;
  left:2039px;
  top:503px;
  width:300px;
  height:1px;
}
#u933 {
  position:absolute;
  left:2px;
  top:-8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#999999;
}
#u934 {
  position:absolute;
  left:2039px;
  top:478px;
  width:175px;
  height:16px;
  font-size:14px;
  color:#999999;
}
#u935 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:15px;
}
#u936 {
  position:absolute;
  left:2320px;
  top:481px;
  width:8px;
  height:15px;
}
#u937 {
  position:absolute;
  left:2px;
  top:0px;
  width:4px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938 {
  position:absolute;
  left:2345px;
  top:610px;
  width:0px;
  height:0px;
}
#u938_seg0 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:7px;
}
#u938_seg1 {
  position:absolute;
  left:-4px;
  top:-2px;
  width:140px;
  height:8px;
}
#u938_seg2 {
  position:absolute;
  left:-11px;
  top:-8px;
  width:22px;
  height:22px;
}
#u938_seg3 {
  position:absolute;
  left:118px;
  top:-9px;
  width:23px;
  height:22px;
}
#u939 {
  position:absolute;
  left:16px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u940 {
  position:absolute;
  left:2495px;
  top:603px;
  width:373px;
  height:38px;
  font-size:16px;
}
#u941 {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  word-wrap:break-word;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u942 {
  position:absolute;
  left:2164px;
  top:649px;
  width:95px;
  height:22px;
  text-align:center;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  word-wrap:break-word;
}
#u944 {
  position:absolute;
  left:2259px;
  top:660px;
  width:0px;
  height:0px;
}
#u944_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:9px;
  height:8px;
}
#u944_seg1 {
  position:absolute;
  left:-4px;
  top:2px;
  width:206px;
  height:8px;
}
#u944_seg2 {
  position:absolute;
  left:194px;
  top:-20px;
  width:8px;
  height:30px;
}
#u944_seg3 {
  position:absolute;
  left:194px;
  top:-20px;
  width:31px;
  height:8px;
}
#u944_seg4 {
  position:absolute;
  left:-7px;
  top:-11px;
  width:22px;
  height:22px;
}
#u944_seg5 {
  position:absolute;
  left:207px;
  top:-27px;
  width:23px;
  height:22px;
}
#u945 {
  position:absolute;
  left:68px;
  top:-2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
