body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:942px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u401 {
  position:absolute;
  left:217px;
  top:84px;
  width:115px;
  height:50px;
  color:#FFFFFF;
}
#u402 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
#u403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:75px;
}
#u403 {
  position:absolute;
  left:217px;
  top:181px;
  width:115px;
  height:75px;
  color:#FFFFFF;
}
#u404 {
  position:absolute;
  left:2px;
  top:30px;
  width:111px;
  word-wrap:break-word;
}
#u405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u405 {
  position:absolute;
  left:250px;
  top:298px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u406 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u407 {
  position:absolute;
  left:374px;
  top:194px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u408 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u409 {
  position:absolute;
  left:217px;
  top:402px;
  width:115px;
  height:50px;
  color:#FFFFFF;
}
#u410 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
#u411_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u411 {
  position:absolute;
  left:217px;
  top:703px;
  width:115px;
  height:50px;
  color:#FFFFFF;
}
#u412 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
#u413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:75px;
}
#u413 {
  position:absolute;
  left:217px;
  top:492px;
  width:115px;
  height:75px;
  color:#FFFFFF;
}
#u414 {
  position:absolute;
  left:2px;
  top:30px;
  width:111px;
  word-wrap:break-word;
}
#u415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u415 {
  position:absolute;
  left:250px;
  top:608px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u416 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u417 {
  position:absolute;
  left:374px;
  top:505px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u418 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u419 {
  position:absolute;
  left:467px;
  top:194px;
  width:138px;
  height:50px;
  color:#FFFFFF;
}
#u420 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u421_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u421 {
  position:absolute;
  left:467px;
  top:505px;
  width:138px;
  height:50px;
  color:#FFFFFF;
}
#u422 {
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  word-wrap:break-word;
}
#u423_div {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#000000;
}
#u423 {
  position:absolute;
  left:0px;
  top:0px;
  width:661px;
  height:47px;
  font-size:11px;
  color:#000000;
}
#u424 {
  position:absolute;
  left:2px;
  top:16px;
  width:657px;
  word-wrap:break-word;
}
#u425_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u425 {
  position:absolute;
  left:217px;
  top:1020px;
  width:115px;
  height:50px;
  color:#FFFFFF;
}
#u426 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
#u427_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:75px;
}
#u427 {
  position:absolute;
  left:217px;
  top:1132px;
  width:115px;
  height:75px;
  color:#FFFFFF;
}
#u428 {
  position:absolute;
  left:2px;
  top:30px;
  width:111px;
  word-wrap:break-word;
}
#u429_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u429 {
  position:absolute;
  left:374px;
  top:1144px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u430 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u431 {
  position:absolute;
  left:467px;
  top:1144px;
  width:138px;
  height:50px;
  color:#FFFFFF;
}
#u432 {
  position:absolute;
  left:2px;
  top:9px;
  width:134px;
  word-wrap:break-word;
}
#u433 {
  position:absolute;
  left:275px;
  top:134px;
  width:0px;
  height:0px;
}
#u433_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u433_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u433_seg2 {
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:19px;
}
#u434 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u435 {
  position:absolute;
  left:275px;
  top:256px;
  width:0px;
  height:0px;
}
#u435_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u435_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u435_seg2 {
  position:absolute;
  left:-9px;
  top:29px;
  width:18px;
  height:19px;
}
#u436 {
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u437 {
  position:absolute;
  left:275px;
  top:348px;
  width:0px;
  height:0px;
}
#u437_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:58px;
}
#u437_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u437_seg2 {
  position:absolute;
  left:-9px;
  top:41px;
  width:18px;
  height:19px;
}
#u438 {
  position:absolute;
  left:-50px;
  top:19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u439 {
  position:absolute;
  left:275px;
  top:567px;
  width:0px;
  height:0px;
}
#u439_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u439_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u439_seg2 {
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:19px;
}
#u440 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u441 {
  position:absolute;
  left:275px;
  top:658px;
  width:0px;
  height:0px;
}
#u441_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u441_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u441_seg2 {
  position:absolute;
  left:-9px;
  top:32px;
  width:18px;
  height:19px;
}
#u442 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u443 {
  position:absolute;
  left:275px;
  top:1070px;
  width:0px;
  height:0px;
}
#u443_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u443_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u443_seg2 {
  position:absolute;
  left:-9px;
  top:49px;
  width:18px;
  height:19px;
}
#u444 {
  position:absolute;
  left:-50px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u445 {
  position:absolute;
  left:275px;
  top:452px;
  width:0px;
  height:0px;
}
#u445_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:44px;
}
#u445_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u445_seg2 {
  position:absolute;
  left:-9px;
  top:27px;
  width:18px;
  height:19px;
}
#u446 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u447_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:75px;
}
#u447 {
  position:absolute;
  left:217px;
  top:794px;
  width:115px;
  height:75px;
  color:#FFFFFF;
}
#u448 {
  position:absolute;
  left:2px;
  top:30px;
  width:111px;
  word-wrap:break-word;
}
#u449_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u449 {
  position:absolute;
  left:250px;
  top:910px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u450 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u451_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u451 {
  position:absolute;
  left:374px;
  top:807px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u452 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u453 {
  position:absolute;
  left:467px;
  top:807px;
  width:138px;
  height:50px;
  color:#FFFFFF;
}
#u454 {
  position:absolute;
  left:2px;
  top:17px;
  width:134px;
  word-wrap:break-word;
}
#u455 {
  position:absolute;
  left:275px;
  top:869px;
  width:0px;
  height:0px;
}
#u455_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u455_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u455_seg2 {
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:19px;
}
#u456 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u457 {
  position:absolute;
  left:275px;
  top:960px;
  width:0px;
  height:0px;
}
#u457_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u457_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u457_seg2 {
  position:absolute;
  left:-9px;
  top:47px;
  width:18px;
  height:19px;
}
#u458 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u459 {
  position:absolute;
  left:332px;
  top:530px;
  width:0px;
  height:0px;
}
#u459_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u459_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u459_seg2 {
  position:absolute;
  left:29px;
  top:-9px;
  width:19px;
  height:18px;
}
#u460 {
  position:absolute;
  left:-29px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u461 {
  position:absolute;
  left:332px;
  top:832px;
  width:0px;
  height:0px;
}
#u461_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u461_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u461_seg2 {
  position:absolute;
  left:29px;
  top:-9px;
  width:19px;
  height:18px;
}
#u462 {
  position:absolute;
  left:-29px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463 {
  position:absolute;
  left:275px;
  top:753px;
  width:0px;
  height:0px;
}
#u463_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:45px;
}
#u463_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u463_seg2 {
  position:absolute;
  left:-9px;
  top:28px;
  width:18px;
  height:19px;
}
#u464 {
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u465 {
  position:absolute;
  left:332px;
  top:1170px;
  width:0px;
  height:0px;
}
#u465_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:42px;
  height:8px;
}
#u465_seg1 {
  position:absolute;
  left:34px;
  top:-5px;
  width:8px;
  height:9px;
}
#u465_seg2 {
  position:absolute;
  left:34px;
  top:-5px;
  width:8px;
  height:8px;
}
#u465_seg3 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u465_seg4 {
  position:absolute;
  left:29px;
  top:-10px;
  width:19px;
  height:18px;
}
#u466 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467 {
  position:absolute;
  left:424px;
  top:1169px;
  width:0px;
  height:0px;
}
#u467_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u467_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u467_seg2 {
  position:absolute;
  left:30px;
  top:-9px;
  width:19px;
  height:18px;
}
#u468 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469 {
  position:absolute;
  left:424px;
  top:832px;
  width:0px;
  height:0px;
}
#u469_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u469_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u469_seg2 {
  position:absolute;
  left:30px;
  top:-9px;
  width:19px;
  height:18px;
}
#u470 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471 {
  position:absolute;
  left:424px;
  top:530px;
  width:0px;
  height:0px;
}
#u471_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u471_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u471_seg2 {
  position:absolute;
  left:30px;
  top:-9px;
  width:19px;
  height:18px;
}
#u472 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473 {
  position:absolute;
  left:332px;
  top:219px;
  width:0px;
  height:0px;
}
#u473_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u473_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u473_seg2 {
  position:absolute;
  left:29px;
  top:-9px;
  width:19px;
  height:18px;
}
#u474 {
  position:absolute;
  left:-29px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475 {
  position:absolute;
  left:424px;
  top:219px;
  width:0px;
  height:0px;
}
#u475_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u475_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u475_seg2 {
  position:absolute;
  left:30px;
  top:-9px;
  width:19px;
  height:18px;
}
#u476 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:75px;
}
#u477 {
  position:absolute;
  left:217px;
  top:1250px;
  width:115px;
  height:75px;
  color:#FFFFFF;
}
#u478 {
  position:absolute;
  left:2px;
  top:30px;
  width:111px;
  word-wrap:break-word;
}
#u479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u479 {
  position:absolute;
  left:250px;
  top:1375px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u480 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u481 {
  position:absolute;
  left:374px;
  top:1263px;
  width:50px;
  height:50px;
  color:#FFFFFF;
}
#u482 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u483 {
  position:absolute;
  left:275px;
  top:1325px;
  width:0px;
  height:0px;
}
#u483_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u483_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u483_seg2 {
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u484 {
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u485 {
  position:absolute;
  left:275px;
  top:1207px;
  width:0px;
  height:0px;
}
#u485_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:47px;
}
#u485_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u485_seg2 {
  position:absolute;
  left:-9px;
  top:30px;
  width:18px;
  height:19px;
}
#u486 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u487 {
  position:absolute;
  left:332px;
  top:1288px;
  width:0px;
  height:0px;
}
#u487_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u487_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u487_seg2 {
  position:absolute;
  left:29px;
  top:-9px;
  width:19px;
  height:18px;
}
#u488 {
  position:absolute;
  left:-29px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:75px;
}
#u489 {
  position:absolute;
  left:467px;
  top:1250px;
  width:115px;
  height:75px;
  color:#FFFFFF;
}
#u490 {
  position:absolute;
  left:2px;
  top:30px;
  width:111px;
  word-wrap:break-word;
}
#u491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:75px;
}
#u491 {
  position:absolute;
  left:218px;
  top:1471px;
  width:115px;
  height:75px;
  color:#FFFFFF;
}
#u492 {
  position:absolute;
  left:2px;
  top:30px;
  width:111px;
  word-wrap:break-word;
}
#u493_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u493 {
  position:absolute;
  left:100px;
  top:1588px;
  width:115px;
  height:50px;
  color:#FFFFFF;
}
#u494 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
#u495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u495 {
  position:absolute;
  left:374px;
  top:1588px;
  width:115px;
  height:50px;
  color:#FFFFFF;
}
#u496 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
#u497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u497 {
  position:absolute;
  left:100px;
  top:1695px;
  width:115px;
  height:50px;
  color:#FFFFFF;
}
#u498 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
#u499_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u499 {
  position:absolute;
  left:374px;
  top:1695px;
  width:115px;
  height:50px;
  color:#FFFFFF;
}
#u500 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
#u501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u501 {
  position:absolute;
  left:374px;
  top:1797px;
  width:115px;
  height:50px;
  color:#FFFFFF;
}
#u502 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
#u503_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:75px;
}
#u503 {
  position:absolute;
  left:655px;
  top:1250px;
  width:115px;
  height:75px;
  color:#FFFFFF;
}
#u504 {
  position:absolute;
  left:2px;
  top:30px;
  width:111px;
  word-wrap:break-word;
}
#u505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u505 {
  position:absolute;
  left:827px;
  top:1191px;
  width:115px;
  height:50px;
  color:#FFFFFF;
}
#u506 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
#u507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:50px;
  background:inherit;
  background-color:rgba(204, 51, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 51, 0, 1);
  border-radius:13px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u507 {
  position:absolute;
  left:827px;
  top:1306px;
  width:115px;
  height:50px;
  color:#FFFFFF;
}
#u508 {
  position:absolute;
  left:2px;
  top:17px;
  width:111px;
  word-wrap:break-word;
}
#u509 {
  position:absolute;
  left:275px;
  top:1425px;
  width:0px;
  height:0px;
}
#u509_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:39px;
}
#u509_seg1 {
  position:absolute;
  left:-4px;
  top:31px;
  width:9px;
  height:8px;
}
#u509_seg2 {
  position:absolute;
  left:-3px;
  top:31px;
  width:8px;
  height:15px;
}
#u509_seg3 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u509_seg4 {
  position:absolute;
  left:-8px;
  top:33px;
  width:18px;
  height:19px;
}
#u510 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u511 {
  position:absolute;
  left:424px;
  top:1288px;
  width:0px;
  height:0px;
}
#u511_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u511_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u511_seg2 {
  position:absolute;
  left:30px;
  top:-9px;
  width:19px;
  height:18px;
}
#u512 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u513 {
  position:absolute;
  left:582px;
  top:1288px;
  width:0px;
  height:0px;
}
#u513_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u513_seg1 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u513_seg2 {
  position:absolute;
  left:60px;
  top:-9px;
  width:19px;
  height:18px;
}
#u514 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u515 {
  position:absolute;
  left:770px;
  top:1288px;
  width:0px;
  height:0px;
}
#u515_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u515_seg1 {
  position:absolute;
  left:36px;
  top:-76px;
  width:8px;
  height:80px;
}
#u515_seg2 {
  position:absolute;
  left:36px;
  top:-76px;
  width:21px;
  height:8px;
}
#u515_seg3 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u515_seg4 {
  position:absolute;
  left:44px;
  top:-81px;
  width:19px;
  height:18px;
}
#u516 {
  position:absolute;
  left:-10px;
  top:-32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u517 {
  position:absolute;
  left:770px;
  top:1288px;
  width:0px;
  height:0px;
}
#u517_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u517_seg1 {
  position:absolute;
  left:36px;
  top:-4px;
  width:8px;
  height:51px;
}
#u517_seg2 {
  position:absolute;
  left:36px;
  top:39px;
  width:21px;
  height:8px;
}
#u517_seg3 {
  position:absolute;
  left:-6px;
  top:-9px;
  width:18px;
  height:18px;
}
#u517_seg4 {
  position:absolute;
  left:44px;
  top:34px;
  width:19px;
  height:18px;
}
#u518 {
  position:absolute;
  left:-10px;
  top:2px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u519 {
  position:absolute;
  left:276px;
  top:1546px;
  width:0px;
  height:0px;
}
#u519_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u519_seg1 {
  position:absolute;
  left:-122px;
  top:20px;
  width:126px;
  height:8px;
}
#u519_seg2 {
  position:absolute;
  left:-122px;
  top:20px;
  width:8px;
  height:22px;
}
#u519_seg3 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u519_seg4 {
  position:absolute;
  left:-127px;
  top:29px;
  width:18px;
  height:19px;
}
#u520 {
  position:absolute;
  left:-106px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u521 {
  position:absolute;
  left:158px;
  top:1638px;
  width:0px;
  height:0px;
}
#u521_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u521_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u521_seg2 {
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u522 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u523 {
  position:absolute;
  left:276px;
  top:1546px;
  width:0px;
  height:0px;
}
#u523_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:28px;
}
#u523_seg1 {
  position:absolute;
  left:-4px;
  top:20px;
  width:164px;
  height:8px;
}
#u523_seg2 {
  position:absolute;
  left:152px;
  top:20px;
  width:8px;
  height:22px;
}
#u523_seg3 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u523_seg4 {
  position:absolute;
  left:147px;
  top:29px;
  width:18px;
  height:19px;
}
#u524 {
  position:absolute;
  left:25px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u525 {
  position:absolute;
  left:432px;
  top:1638px;
  width:0px;
  height:0px;
}
#u525_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u525_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u525_seg2 {
  position:absolute;
  left:-9px;
  top:44px;
  width:18px;
  height:19px;
}
#u526 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u527 {
  position:absolute;
  left:432px;
  top:1745px;
  width:0px;
  height:0px;
}
#u527_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u527_seg1 {
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:18px;
}
#u527_seg2 {
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:19px;
}
#u528 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
