body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u1402 {
  position:absolute;
  left:18px;
  top:35px;
  width:422px;
  height:829px;
}
#u1403 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1404 {
  position:absolute;
  left:339px;
  top:117px;
  width:1px;
  height:16px;
}
#u1405 {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u1406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:64px;
  background:inherit;
  background-color:rgba(106, 125, 143, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CC99CC;
}
#u1406 {
  position:absolute;
  left:39px;
  top:103px;
  width:375px;
  height:64px;
  color:#CC99CC;
}
#u1407 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u1408 {
  position:absolute;
  left:39px;
  top:103px;
  width:375px;
  height:20px;
}
#u1409 {
  position:absolute;
  left:2px;
  top:2px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1410 {
  position:absolute;
  left:39px;
  top:166px;
  width:375px;
  height:1px;
}
#u1411 {
  position:absolute;
  left:2px;
  top:-8px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1412 {
  position:absolute;
  left:186px;
  top:136px;
  width:97px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1413 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u1414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:21px;
}
#u1414 {
  position:absolute;
  left:56px;
  top:134px;
  width:12px;
  height:21px;
}
#u1415 {
  position:absolute;
  left:2px;
  top:2px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1416 {
  position:absolute;
  left:365px;
  top:136px;
  width:33px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u1417 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1418 {
  position:absolute;
  left:65px;
  top:232px;
  width:324px;
  height:45px;
}
#u1419 {
  position:absolute;
  left:2px;
  top:14px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1420_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:25px;
}
#u1420 {
  position:absolute;
  left:76px;
  top:242px;
  width:15px;
  height:25px;
}
#u1421 {
  position:absolute;
  left:2px;
  top:4px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1422 {
  position:absolute;
  left:65px;
  top:298px;
  width:324px;
  height:45px;
}
#u1423 {
  position:absolute;
  left:2px;
  top:14px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Forte';
  font-weight:400;
  font-style:normal;
}
#u1424 {
  position:absolute;
  left:77px;
  top:310px;
  width:33px;
  height:21px;
  font-family:'Forte';
  font-weight:400;
  font-style:normal;
}
#u1425 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u1426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#CCCCCC;
}
#u1426 {
  position:absolute;
  left:96px;
  top:244px;
  width:36px;
  height:22px;
  font-size:18px;
  color:#CCCCCC;
}
#u1427 {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  word-wrap:break-word;
}
#u1428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#CCCCCC;
  text-align:center;
}
#u1428 {
  position:absolute;
  left:89px;
  top:725px;
  width:300px;
  height:32px;
  color:#CCCCCC;
  text-align:center;
}
#u1429 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1430 {
  position:absolute;
  left:85px;
  top:392px;
  width:300px;
  height:40px;
  color:#FFFFFF;
}
#u1431 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  word-wrap:break-word;
}
#u1432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#0066FF;
}
#u1432 {
  position:absolute;
  left:173px;
  top:450px;
  width:129px;
  height:19px;
  font-size:16px;
  color:#0066FF;
}
#u1433 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u1434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1434 {
  position:absolute;
  left:132px;
  top:245px;
  width:175px;
  height:22px;
  font-size:18px;
}
#u1435 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u1436 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1437 {
  position:absolute;
  left:87px;
  top:352px;
  width:157px;
  height:15px;
  font-size:12px;
}
#u1438 {
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u1439 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 102, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1440 {
  position:absolute;
  left:65px;
  top:350px;
  width:18px;
  height:18px;
}
#u1441 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u1442 {
  position:absolute;
  left:67px;
  top:352px;
  width:14px;
  height:14px;
}
#u1443 {
  position:absolute;
  left:2px;
  top:-1px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u1444 {
  position:absolute;
  left:120px;
  top:310px;
  width:175px;
  height:22px;
  font-size:18px;
}
#u1445 {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  word-wrap:break-word;
}
#u1446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:45px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1446 {
  position:absolute;
  left:295px;
  top:298px;
  width:94px;
  height:45px;
}
#u1447 {
  position:absolute;
  left:2px;
  top:14px;
  width:90px;
  word-wrap:break-word;
}
